@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    max-width: 1440px;
    margin: auto;
    font-family: 'Mulish', sans-serif;
}
.navigation{
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
}
.logo{
    text-align: left;
    display: flex;
    margin-left: 0;
}
.logo-img{
    padding-right: 8px;
}
.logo-text{
    color:#FF5400;
}
.menu{
    margin-right: 0;
}
.nav-menu{
    display: flex;
}
.menu-item{
    list-style: none;
    padding: 10px
}
.hero{
    background-image: url(../assets/hero-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.overlay{
    display: flex; 
    height: 500px;
    background-color: #4444445c;
    border-radius: 16px;
}
.content{
    width: 75%;
    text-align: center;
    
}
.hero-heading{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hero-text{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    padding: 16px;
}
.form{
    display: flex;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 16px;
}
.form-item{
    color: rgba(19, 19, 24, 0.50);
    padding: 16px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #FFF;
    width: 100%;
    margin: 5px;
    border: none;

}
.form-btn{
    color:#fff;
    padding: 16px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background-color: #FF5400;
    width: 100%;
    margin: 5px;
    border: none;
}
.popular-tour{
 margin: 100px 0;
}
.popular-tour-container{
    display: flex
    
}
.tour-content{
    width: 50%;
}
.tour-heading{
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.tour-text{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding: 24px 0;
}
.tour-list-item{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding: 8px 0;
}
.tour-btn{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 8px;
    background: #FF5400;
    border: navajowhite;
    padding: 14px 35px;
}
.tour-img{
    width: 50%;
    text-align: right;
}

.gallery-content{
    text-align: center;
}

.gallery-heading{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.gallery-text{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding: 24px 0;
}
.gallery-row-one{
    margin-top: 48px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}
.maldives-bg{
    background-image: url('../assets/maldives.png');
    height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.indonesia-bg{
    background-image: url('../assets/indonesia.png');
    height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.srilanka-bg{
    background-image: url('../assets/srilanka.png');
    height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.north-america-bg{
    background-image: url('../assets/north-america.png');
    height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.kashmir-bg{
    background-image: url('../assets/kashmir.png');
    height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.bangladesh-bg{
    background-image: url('../assets/bangladesh.png');
    height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.bandorban-bg{
    background-image: url('../assets/bandorban.png');
    height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.colum-content{
    display: flex;
    height: 100%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.grid-colum{
    width: 100%;
}
.grid-img {
    width: 100%;
}
.gallery-row-tow{
    margin-top: 24px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
}

.gallery-row-three{
    margin-top: 24px;
    display: grid;
    gap: 24px;
    grid-template-columns:1fr 2fr;
}

.grid-column-1{
    grid-column: 1/4;
}
.grid-column-2{
    grid-column: 2/4;
}
.why-choose-us-row-one{
    margin-top: 48px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}
.why-choose-us-row-tow{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    place-items: center;
}
.why-choose-us{
    margin: 100px 0;
}
.why-choose-us-content{
    text-align: center;
}
.wcu-colum-content h3{
    padding: 16px 0;
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.bg-light-yello{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.bg-light-blue{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.bg-light-red{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.wcu-colum-content{
    padding: 32px;
}

.grid-colum-one{
    display: inline-grid;
    grid-column: 2/4;
    grid-gap: 3px;
    justify-items: center;
    align-items: center;
}

.news-letter{
        border-radius: 16px;
        border: 1px solid #FF5400;
        max-width: 474px;
        padding: 40px;

}
.news-letter h3{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 14px;
}
.news-letter p{  
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.hr-border{
    border: 1px solid rgba(19, 19, 24, 0.10);
    max-width: 425px;
    margin-top: 28px;
    margin-left: 0px;
}
.news-letter input{
    margin-top: 18px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 256px 16px 20px;
    border: none;


}
.news-letter button{
    border-radius: 8px;
    background: #FF5400;
    margin-top: 24px;
    padding: 13px 185px 13px 185px;
    border: none;
}

.news-photo {
    background-image: url('../assets/offer-image.png');
    height: 380px;
    width: 620px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
}

.offer-box{
    border-radius: 16px;
    background-color: #FF5400;
    padding: 12px;
    color: #fff;
    transform: rotate(-19.628deg);
    margin-right: 15px;
    margin-bottom: 42px;
    text-align: center;
}



.news-container{
    display: flex;
    justify-content: space-between;
}

.footer-section h3{
    margin: 0px;
    padding: 10px;

}
.footer-section p{
    margin: 0px;
    padding: 10px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    
}

.footer-section span{
    color: #FF5400;
    font-size: 32px;
    font-weight: 800;
}

.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer-logo{
    margin: 0px;
    padding: 0px;
}
.footer-container{
    max-width: 399px;
}

.footer-description{
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px; 
}

.footer-link{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 50px;
}
.footer-hr{
    border: 1px solid rgba(19, 19, 24, 0.10);
    max-width: 80%;
}
.cooy-rights{
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 110px;
}
.main-footer{
    display: flex;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}

.footer-background{
   
    padding: 50px 0;
    height: 100%;
    margin-top: 50px;
}
.humberger{
    display: none;
}

@media screen and (max-width:576px){
    *{
        padding: 0 10px;
    }
    .nav-menu{
        display: none;
    }

    .humberger{
        display: block;
    }
    .hero {
        height: 520px;
        padding: 0;
    }
    .content {
        width: 100%;
        text-align: center;
    }
    .hero-heading,.tour-heading,.gallery-heading{
        font-size: 22px;
    }
    .form {
        display: flex;
        flex-direction: column;

    }
    .form input{
        width: 85%;

    }

    .popular-tour-container {
        display: flex;
        flex-direction: column;
    }
    .tour-img {
        width: 100%;
        margin-top: 20px;
    }
    .tour-img img{
        width: 100%;
    }
    .gallery-row-one {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery-row-tow {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-colum-one{
        grid-column: 1;
    }
    .grid-column-2 {
        grid-column: 1/1;
    }
    .gallery-row-three {
        grid-template-columns: repeat(1, 1fr);
    }
    .why-choose-us-row-one {
        grid-template-columns: repeat(1, 1fr);
    }
    .why-choose-us-row-tow {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
    .news-container {
        flex-direction: column;
    }

    .news-photo {
        width: 100%;
        margin-top: 20px;
    }

    .news-letter {
        max-width: 100%;
    }
    .news-letter input{
        padding: 16px 16px 16px 20px;
        width: 90%;
    
    
    }
    .news-letter button{
        padding: 13px 20px 13px 20px;
        width: 100%;
    }

    .footer-background {
        padding: 50px 0;
        height: 100%;
        width: 100%;
        margin-top: 50px;

    }
    
}